@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

/*VARIABLES*/
$box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
/*colors*/
$white: #fff;
$gray: #f1f1f1;
$primary: #673ab7;
$accent: #ffd740;
/*breaking sizes*/
$break-small: 720px;
$break-medium: 1100px;

/*ELEMENT STYLING*/
body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: $gray;
}

main {
  position: relative;
  top: -280px;
  display: flex;
  justify-content: center;
  max-width: 1400px;
  background-color: $white;
  box-shadow: $box-shadow;
  margin: 30px;

  @media screen and (max-width: $break-medium) {
    position: initial;
    margin: 0;
    width: 700px;

    @media screen and (max-width: $break-small) {
      width: 100%;
    }
  }
}

h1 {
  font-weight: 300;

  @media screen and (min-width: $break-small) {
    font-size: 3.4em;
  }
}

md-card {
    width: 280px;
    height: 165px;
    margin: 10px;
}

/*CLASSES*/
.main-content {
  display: flex;
  justify-content: center;
}

.fill-space-flex {
  flex: 1 1 auto;

  @media screen and (max-width: $break-small) {
      display: none;
    }
}

.logo-text {
  @media screen and (min-width: $break-small) {
    font-size: 2em;
  }
  @media screen and (max-width: $break-small) {
      display: none;
    }
}

[md-button].toolbar-button {
  color: #ffe88f;

  @media screen and (min-width: $break-small) {
    font-size: 1em;
  }
}

[md-button].toolbar-button.router-link-active {
    font-weight: bolder;
    color: $accent;
  }

.hero-image {
  background-color: #58309e;
  height: 500px;
  max-width: 2500px;
  background-image: url('/assets/study-stock-image.jpeg');
  background-size: 2500px 800px;
  box-shadow: $box-shadow;

  @media screen and (max-width: $break-medium) {
    height: 150px;
    background-size: $break-medium 300px;
  }
  @media screen and (max-width: $break-small) {
    display: none;
  }
}

div.section-header {
  position: absolute;
  top: -160px;
  left: 50px;  
  background-color: $primary;
  color: $white;
  padding: 20px;
  box-shadow: $box-shadow; 

  @media screen and (max-width: $break-medium) {
    position: initial;
    width: 700px;

    @media screen and (max-width: $break-small) {
      width: auto;
    }

  }
}

div.section-header h4 {
  @media screen and (max-width: $break-small) {
      display: none;
    }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 1000px;
  padding: 30px;
  
  @media screen and (max-width: $break-medium) {
    padding: 0;
    min-width: 0;
  }
}

.in-a-sentence-title {
    color: #888;
}

.in-a-sentence-content {
    font-size: 1.1em;
    font-style: italic;
}