<div class="flashcard-runner">
	<div class="section-header">
		<div>
			<h1>Flashcard testing</h1>
			<h4>Follow the arrow to navigate to the next cards</h4>
		</div>
	</div>
	<section [ngClass]="{'inactive-section': currentFlashcardId != flashcard.id}" *ngFor='let flashcard of flashcardsShowing'
		class="cards-container">
		<md-card>
			<md-card-subtitle>{{ flashcard.wordAnswerType }}</md-card-subtitle>
			<md-card-title>{{ flashcard.wordToCheck }}</md-card-title>

			<md-card-content>
				<p class="in-a-sentance-title">Used in a sentance:</p>
				<p class="in-a-sentance-content">{{ flashcard.sentanceFrom }}</p>
			</md-card-content>

			<md-card-actions align="end">
				<button md-fab (click)='flashcard.showAnswer = true' *ngIf="!flashcard.showAnswer">
				<md-icon class="md-48">arrow_forward</md-icon>
			</button>
			</md-card-actions>
		</md-card>
		<md-card *ngIf="flashcard.showAnswer">
			<md-card-subtitle>{{ flashcard.wordAnswerType }}</md-card-subtitle>
			<md-card-title>{{ flashcard.wordAnswerTitle }}</md-card-title>
			<md-card-content>
				<p class="in-a-sentance-title">Used in a sentance:</p>
				<p class="in-a-sentance-content">{{ flashcard.sentanceTo }}</p>
			</md-card-content>
			<md-card-actions align align="end">
				<button md-fab (click)='nextCard()' *ngIf="currentFlashcardId == flashcard.id">
				<md-icon class="md-48">arrow_downward</md-icon>
			</button>
			</md-card-actions>
		</md-card>
	</section>
</div>