md-card {
    width: 280px;
    height: 165px;
    margin: 10px;
}

.flashcard-runner {
    min-width: 1000px;
    margin: 30px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.in-a-sentance-title {
    color: #888;
}

.in-a-sentance-content {
    font-size: 1.1em;
    font-style: italic;
}
