md-card {
    width: 280px;
    height: 165px;
    margin: 10px;
}

.cards-container {
    display: flex;
}

.in-a-sentance-title {
    color: #888;
}

.in-a-sentance-content {
    font-size: 1.1em;
    font-style: italic;
}
